/*====================================
        ABOUT HERO
====================================*/

.about-hero{

    min-height:85vh;

    display:flex;

    align-items:center;

    background:linear-gradient(135deg,#08192D,#0A2342,#12385f);

    position:relative;

}

.about-hero-container{

    display:grid;

    grid-template-columns:1.1fr .9fr;

    gap:70px;

    align-items:center;

}

.about-hero-content{

    color:white;

}

.about-hero-image img{

    width:460px;

    max-width:100%;

}
}

