/*====================================
        NEWSLETTER
====================================*/

.newsletter{

    background:#ffffff;

    padding:100px 0;

    text-align:center;

}

.newsletter-form{

    max-width:700px;

    margin:50px auto;

    display:flex;

    overflow:hidden;

    border-radius:60px;

    box-shadow:var(--shadow);

}

.newsletter-form input{

    flex:1;

    padding:20px 25px;

    border:none;

    outline:none;

    font-size:16px;

}

.newsletter-form button{

    padding:20px 40px;

    border:none;

    background:var(--gold);

    cursor:pointer;

    font-weight:600;

}

.newsletter-social{

    display:flex;

    justify-content:center;

    gap:20px;

}

.newsletter-social a{

    width:50px;

    height:50px;

    border-radius:50%;

    background:var(--primary);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:.35s;

}

.newsletter-social a:hover{

    background:var(--gold);

    color:black;

}

@media(max-width:768px){

.newsletter-form{

flex-direction:column;

border-radius:20px;

}

.newsletter-form button{

width:100%;

}

}


