/*=====================================
            HERO
======================================*/

.hero{

    min-height:100vh;

}

.hero-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}

.hero-image img{

    width:500px;

}
