.about-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

}

.projects-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

gap:35px;

}

.media-grid{

display:grid;

grid-template-columns:2fr 1fr;

gap:50px;

}

.timeline{

max-width:900px;

margin:80px auto;

}

.news-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

gap:35px;

}

.contact-cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-top:60px;

}
